.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}


.project-cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px 0;
}

/* orta ekranlar (tablet) → 2 kolon */
@media (max-width: 1100px) {
  .project-cards-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* küçük ekranlar (mobil) → 1 kolon */
@media (max-width: 700px) {
  .project-cards-div {
    grid-template-columns: repeat(1, 1fr);
  }
}